body{
    color: #ffff;
}

.bg-nav{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    z-index: 1;
}

.bg-nav a{
    color: #ffff;
}

.bg-nav a:hover{
    color: #93723e;
}

.active{
    color: #93723e !important;
}

.icono{
    color: #ffff;
}

.icono:hover{
    color: #93723e;
}

.logo{
    width: 200px;
}

.carousel-item{
    width: 100%;
    height: 500px;
}


