@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

header{
    position: relative;
}

.bg-nav{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    z-index: 30;
    color: #ffff;
}

.bg-dark{
    color: #ffff;
    position: absolute;
    z-index: 40;
    width: 100%;
}

.bg-nav a{
    color: #ffff;
}

.bg-nav a:hover{
    color: #93723e;
}

.active{
    color: #93723e !important;
}

.icono{
    color: #ffff;
}

.icono:hover{
    color: #93723e;
}

.logo{
    width: 200px;
}

.carousel-item{
    width: 100%;
    height: 500px;
}

.linea{
    width: 40%;
    border: 3px solid #93723e;
}

.img-acerca{
    width: 450px;
    border-radius: 10px;
}

.texto-secundario{
    font-family: 'Playfair Display', serif;
}

.container-img img{
    width: 100%;
}

.bg-menu{
    width: 100%;
}

.titulo{
    font-family: 'Sevillana', cursive;
    font-size: 60px;
    color: #93723e;
}


.seccion-bg-menu{
    background-image: url("../img/seccion-bg-menu.jpg");
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
}

.menu h2{
    font-family: 'Sevillana', cursive;
    font-size: 60px;
    color: #93723e;
}

.menu{
    padding: 150px;
}

.menu img{
   margin-top: 50px;
}

.menu img{
    transition: transform .3s;
}

.menu img:hover{
    transform: scale(1.2);
    transition: transform .3s;
}

.menu-espacial{
    margin-top: 540px;
}

.menu-espacial h2{
    font-size: 70px;
    color: #93723e;
    font-family: 'Sevillana', cursive;
    text-align: center;
}

.img-menu-especial img{
    border-radius: 50%;
}

.titulo-menu{
    color: #93723e;
    font-family: 'Playfair Display', serif;
}

.precio{
    color: #93723e;
    font-family: 'Playfair Display', serif;
}

.reservacion img{
    width: 100%;
    height: 120vh;
}

.reservacion{
    background-image: url("../img/seccion-bg-reservacion.jpg");
    background-repeat: no-repeat;
    padding: 25px 0px;
}

.reservacion h2{
    color:#fff;
    font-family: 'Sevillana', cursive;
    text-shadow: 1px 1px 2px  rgb(0, 0, 0);
    font-size: 70px;
    text-align: center;
}

.form-reservar{
    background-color: rgb(147, 114, 62, 0.6);
    width: 75%;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Playfair Display', serif;
}

.form-label{
    color: #ffff;
    font-weight: 600;
}

.testimonios h2{
    color: #93723e;
    font-family: 'Sevillana', cursive;
    font-size: 70px;
}

.testimonios h4{
    color: #93723e;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}

.carousel-testimonio{
    height: 340px;
}

footer{
    font-family: 'Playfair Display', serif;
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.footer-logo{
    width: 200px;
}

.copy{
    background-color: rgb(24, 22, 22);
}

.copy p{
    margin: 1px 0;
    padding: 10px 0;
}

.menu-especialidades{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    color: #ffff;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.card-menu{
    position: relative;
    border: 1px solid #93723e;
    width: 350px;
}

.card-img{
    position: relative;
    width: 100%;
}


.card-bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: rgb(0, 0, 0, 0.7);
    color: #ffff;
    font-family: 'Playfair Display', serif;
    opacity: 0;
    transition: opacity 1.1s;
}

.card-bg:hover{
    opacity: 1;
    height: 60%;
    transition: opacity 1.1s;
}

.card-bg p{
    font-size: 18px;
}

.card-bg button{
    background-color: #93723e;
    color: #ffff;
}

.card-bg button:hover{
    background-color: #93723e;
    color: #ffffffad;
}


.menu-sandwich{
    margin: auto;
}

.bg-pedidos{
    text-align: center;
    width: 70%;
    height: 200px;
    padding: 10px;
    margin: 30px 0;
}

.img-pedidos{
    width: 200px;
}

.btn-pedidos{
    background-color: #93723e;
    margin: 5px 0;
    color: #ffff;
    width: 50px;
}

.btn-pedidos:hover{
    background-color: #93723e;
    color: #eae6e6d2;
}

.btn-pedido{
    background-color: #93723e;
    color: #ffff;
}

.btn-pedido:hover{
    background-color: #93723e;
    color: #eae6e6d2;
}

.texto-pedidos{
    font-family: 'Playfair Display', serif;

}

.cantidad-producto input{
    width: 50%;
}

.border-end{
    border: 1px solid #93723e;
}

.texto-menu{
    font-family: 'Playfair Display', serif;
}

.linea-menu{
    border: 2px solid #93723e;
    width: 35%;
}

.menu-sandwich{
    gap: 1.5em;
}

.card-img{
    margin: 0 auto;
}

.navbar > .container{
    justify-content: end !important;
}

.btn-color{
    background-color: #93723e;
    
}

.body-admin{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.administrador{
    flex-grow: 1;
    margin-top: 80px;
}

.btn-agregar{
    background-color: #93723e;
    color: #ffff;
}

.btn-agregar:hover{
    background-color: #93723e;
    color: #eae6e6d2;
}

.btn-iniciar-sesion{
    color: #ffff;
    border: 0;
    margin-top: 2px;
}

.btn-iniciar-sesion:hover{
    color: #93723e;
}

.modal-content{
    color: #ffff;
    background-color: rgb(0, 0, 0, 0.6);
    font-family: 'Playfair Display', serif;;
}

.btn-close{
    background-color: #ffff !important;
}

.input-iniciar-sesion{
    font-weight: 700;

}

.btn-iniciar{
    background-color: #93723e !important;
    color: #ffff;
}

.btn-iniciar:hover{
    color: #eae6e6d2;
}


@media screen and (max-width: 767px){
    .logo{
        width: 150px;
    }

    .navbar{
        width: 50%;
    }

    .formulario form{
        top: 50px;
        left: 90px;
    }

    .reservacion img{
        height: 100vh;
    }

    .menu{
        padding: 50px;
    }

    .form{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .portada{
        height: 350px;
    }

    .portada img{
        height: 100vh;
    }

    .carousel-testimonio{
        height: 500px;
        object-fit: contain;
    }

    .menu-especialidades{
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    .bg-pedidos{
        margin: 0 auto;
        width: auto;
    }
    .contenedor-pedidos{
        flex-direction: column;
    }

    .detalle-pedidos{
        margin-top: 250px;
        text-align: center;
        border-top: 1px solid #93723e;
        padding: 15px;
    }

    .border-end{
        border: 0
    }

    .card-menu{
        margin: 10px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .cantidad-producto input{
        width: 100%;
    }
    .contenedor-pedidos-img{
        margin: auto 0;
    }

    .menu-sandwich{
       gap: 1em;
       margin: 0 auto;
       width: 100%;
    }
}